nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: var(--azulescuro);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  margin: 0 15px;
}

nav ul li,
.linkLogin {
  width: 110px;
  list-style: none;
  color: var(--branco);
  text-align: center;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: var(--roboto);
  font-weight: 400;
  text-decoration: none;
}

nav ul li:hover {
  background-color: var(--azulclaro);
  transition: 500ms;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLogo {
  font-size: 4rem;
  color: var(--azulclaro);
  display: flex;
}

.tituloPrincipal {
  color: var(--branco);
  margin: 0 15px;
}
