@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --branco: #f1f1f1;
  --preto: #1f1f1f;
  --cinzaclaro: #d4d4d4;
  --cinzaescuro: #b8b8b8;
  --azulclaro: #1f94a8;
  --azulescuro: #124f7e;

  --roboto: "Roboto";
  --poppins: "Poppins";
  --montserrat: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body {
  background-color: var(--branco);
  font-family: var(--roboto);
}
